// VAR-S:

// colors=========================
$text_color_white: rgba(255, 255, 255, .6);
$text_color_grey: #717579;
$bg_dark: #202024;
$bg_light: #FDFDFD;
$orange: #F6C866;
$active_btn: rgba(255, 212, 130, .3);
$border: #2F2A36;

// breakpoints =====================
$bp-desktop-hd: 1920px;
$bp-desktop: 1440px;
$bp-tablets: 768px;
$bp-phones: 320px;

// fonts==========================
$fs: 16px;
$fs_s: 14px;